nav {
    height: 50px;
    background-color: burlywood;
    line-height: 30px;
    font-size: 25px;
}

nav li {
    list-style: none;
    padding: 10px;
}

nav>ul>li {
    float: left;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 0;
}

nav>ul>li:hover>ul {
    display: block;
}

nav li:hover {
    background-color: cornflowerblue;
}

nav a {
    text-decoration: none;
    color: black;
}